<template>
    <div class="Entity text-center">
        <h1>Entity</h1>

        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'Entity',
    };
</script>
