<template>
  <v-card class="mx-auto">
    <v-list>
      <nav v-for="(routeFirst, i) in menu" :key="i">
        <div v-if="isVisibleMenuItem(routeFirst)">
          <v-list-group v-if="routeFirst.child && routeFirst.child.length">

            <template v-slot:activator>
              <v-list-item-icon>
                <v-icon>{{ routeFirst.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ routeFirst.title }}</v-list-item-title>
            </template>

            <nav v-for="(routeSecond, j) in routeFirst.child" :key="j">
              <div v-if="isVisibleMenuItem(routeSecond)">
                <v-list-group v-if="routeSecond.child && routeSecond.child.length"
                              sub-group
                              active-class="border">
                  <template v-slot:activator>
                    <v-list-item two-line link>
                      <v-list-item-icon>
                        <v-icon>{{ routeSecond.icon }}</v-icon>
                      </v-list-item-icon>
                      <v-list-item-title>{{ routeSecond.title }}</v-list-item-title>
                    </v-list-item>
                  </template>

                  <v-list-item v-for="(routeThird, k) in routeSecond.child" :key="k" link>
                    <v-list-item-icon>
                      <v-icon>{{ routeThird.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{ routeThird.title }}</v-list-item-title>
                  </v-list-item>
                </v-list-group>
                <!-- else Second -->
                <router-link v-else :to="{name: routeSecond.name}">
                  <v-list-item link>
                    <v-list-item-icon>
                      <v-icon>{{ routeSecond.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{ routeSecond.title }}</v-list-item-title>
                  </v-list-item>
                </router-link>
              </div>
              <v-divider />
            </nav>
          </v-list-group>
          <!-- else First -->
          <router-link v-else :to="{name: routeFirst.name}">
            <v-list-item link>
              <v-list-item-icon>
                <v-icon>{{ routeFirst.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ routeFirst.title }}</v-list-item-title>
            </v-list-item>
          </router-link>
        </div>
        <v-divider />
      </nav>
    </v-list>
  </v-card>
</template>

<script src="./MenuItems.component.js"></script>

<style scoped>

</style>
