<template>
  <div class="Menu">
    <v-navigation-drawer app :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" width="310">
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <v-icon v-if="userIsAuth" size="50">mdi-account-circle</v-icon>
            <!-- else -->
            <v-icon v-else size="50">mdi-account-circle-outline</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="identity.username">
            <v-list-item-title>{{identity.username}}</v-list-item-title>
            <v-list-item-subtitle>mail@mail.ru</v-list-item-subtitle>
          </v-list-item-content>
          <!-- else -->
          <v-list-item-content v-else>
            <v-list-item-title>Гость</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>

      <v-divider />

      <MenuItems />
    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <span class="hidden-sm-and-down">&lt;-- Меню рабочее =)</span>
      </v-toolbar-title>
      <v-text-field flat
                    solo-inverted
                    hide-details
                    prepend-inner-icon="mdi-magnify"
                    label="Search"
                    class="hidden-sm-and-down"
      />
      <v-spacer />
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>

      <v-btn v-if="userIsAuth" text @click="logout">Выйти</v-btn>
      <v-btn v-else text @click="login">Войти</v-btn>
    </v-app-bar>
  </div>
</template>

<script src="./Menu.component.js"></script>

<style lang="scss">
  .Menu {
    a {
      text-decoration: none;
    }
  }
</style>
