<template>
    <v-app class="Layout">

        <Snackbar />

        <Menu />

        <Content/>

        <Footer/>

    </v-app>
</template>

<script>
    'use strict';

    import Content from '@/components/content/Content/Content';
    import Footer from '@/components/content/Footer/Footer';
    import Menu from '@/components/content/Menu/Menu';
    import Snackbar from '@/components/Snackbar/Snackbar';

    export default {
        name: 'Layout',

        components: {
            Content,
            Footer,
            Menu,
            Snackbar,
        },
    };
</script>

<style>

</style>
