<template >
    <div class="Register" style="width: 50%" >
        <v-card ref="form" >
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="text-center">Регистрация нового пользователя</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-form >
                <v-card-text >

                    <v-text-field
                            label="Username"
                            name="username"
                            ref="username"
                            v-model="$v.form.username.$model"
                            reqired
                            :error="form.wasInput.username && color($v.form.username, form.username).isError"
                            :error-messages="(form.wasInput.username && color($v.form.username, form.username).isError || '') && 'username не валидный! Пример: username@username.ru'"
                            :success="form.wasInput.username && !color($v.form.username, form.username).isError"
                            @input="form.wasInput.username = true" />
                    <br >
                    <v-text-field
                            label="Пароль"
                            name="password"
                            ref="password"
                            v-model="$v.form.password.$model"
                            reqired
                            :error="form.wasInput.password && color($v.form.password, form.password).isError"
                            :error-messages="(form.wasInput.password && color($v.form.password, form.password).isError || '') && 'Минимальная длинна пароля - 8 символов'"
                            :success="form.wasInput.password && !color($v.form.password, form.password).isError"
                            :type="form.showPassword ? 'text' : 'password'"
                            :append-icon="form.showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            @input="form.wasInput.password = true"
                            @click:append="form.showPassword = !form.showPassword" />
                    <br >
                    <v-text-field
                            label="Повторите пароль"
                            name="password-repeat"
                            ref="password-repeat"
                            v-model="$v.form.passwordRepeat.$model"
                            reqired
                            :type="form.showPasswordRepeat ? 'text' : 'password'"
                            :error="form.password !== form.passwordRepeat"
                            :error-messages="(form.password !== form.passwordRepeat || '') && 'Пароли не совпадают!'"
                            :success="form.wasInput.passwordRepeat && form.password === form.passwordRepeat"
                            :append-icon="form.showPasswordRepeat ? 'mdi-eye' : 'mdi-eye-off'"
                            @input="form.wasInput.passwordRepeat = true"
                            @click:append="form.showPasswordRepeat = !form.showPasswordRepeat" />

                </v-card-text >
                <v-divider />
                <v-card-actions >
                    <v-spacer />
                    <v-btn color="green" text @click="submit($v)" >Зарегистрироваться</v-btn >
                </v-card-actions >
            </v-form >
        </v-card >
    </div >
</template >

<script >
    'use strict';

    import { validationMixin } from 'vuelidate';
    import { email, minLength, required, sameAs } from 'vuelidate/lib/validators';
    import axios from 'axios';
    import backendRoutes from '@/router/backendRoutes';

    export default {
        name: 'Register',
        data: () => ({
            errorMessages: '',
            form: {
                wasInput: {
                    username: false,
                    password: false,
                    passwordRepeat: false,
                },
                username: '',
                password: '',
                passwordRepeat: '',
                showPassword: false,
                showPasswordRepeat: false,
                formHasErrors: false,
            },
        }),

        mixins: [validationMixin],

        validations: {
            form: {
                username: {
                    required,
                    email,
                },
                password: {
                    required,
                    minLength: minLength(8),
                },
                passwordRepeat: {
                    required,
                    sameAsPassword: sameAs('password'),
                },
            },
        },

        methods: {
            func(e) {
                e.target.classList.add('new-class');
            },
            color(usernameModel, value) {
                if (value === null) {
                    usernameModel.$error = true;
                }
                return {
                    color: usernameModel.$error ? 'red darken-2' : 'green darken-2',
                    isError: usernameModel.$error,
                };
            },
            submit(v) {
                if (v.$invalid) {
                    alert('Исправьте все ошибки и попробуйте снова');
                    return;
                }

                const {url} = backendRoutes('security.login');
                axios.get(url)
                    .then(response => {
                        console.log(response);
                        return null;
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .finally(() => (this.loading = false));
            },
        },

        watch: {
            username() {
                this.errorMessages = '';
            },
            password() {
                this.errorMessages = '';
            },
            passwordRepeat() {
                this.errorMessages = '';
            },
        },

    };
</script >

<style type="scss" >
    input {
        border-radius: 4px;
        background: white;
        padding: 5px 10px;
    }

    .dirty {
        border-color: #5A5;
        background: #EFE;
    }

    .dirty:focus {
        outline-color: #8E8;
    }

    .error {
        border-color: red;
        background: #FDD;
    }

    .error:focus {
        outline-color: #F99;
    }
</style >
