<template>
  <v-footer app>
    <span v-if="identity" class="subtitle-2">{{identity.username}} </span>
    <span v-else>Гость </span>

    <span v-if="!userIsAuth" class="red--text caption">(Не авторизован)</span>
    <span v-else class="green--text caption">(Авторизован)</span>
  </v-footer>
</template>

<script>
    'use strict';

    import { mapState } from 'vuex';

    export default {
        name: 'Footer',

        computed: {
            ...mapState({
                identity: ({authentication: {identity}}) => identity,
                userIsAuth: ({authentication: {isAuth}}) => isAuth,
            }),
        },
    };
</script>

<style scoped>

</style>
