<template>
  <div class="Broker">
    <v-card class="elevation-5">
      <v-card-title>Список брокеров</v-card-title>

      <v-divider />

      <v-card-actions>
        <v-spacer />
        <v-text-field
            append-icon="mdi-table-search"
            label="Поиск по всем столбцам"
            v-model="table.search.text"
            single-line />
        <v-spacer />
        <v-spacer />
      </v-card-actions>

      <v-divider />

      <!--
        FIXME: Разобраться почему вьютифай сбивает itemPerPage в -1,
        когда устанавливаешь :server-items-length="brokerTotal"
      -->
      <v-data-table
          :footer-props="table.footerProps"
          :headers="table.headers"
          :items="brokerList"
          item-key="id"
          :loading="isLoadingTable"
          loading-text="Загружаем брокеров..."
          multi-sort
          :items-per-page="+table.options.itemsPerPage"
          :options.sync="table.options"
          :search="table.search.text"
          show-expand
          show-select
          single-expand
          v-model="table.selected"
      >
        <template v-slot:expanded-item="{ item: broker }">
          <td :colspan="table.headers.length + 1" class="expand-column">
            <pre>{{Object.keys(broker.setting).length && broker.setting
                    || 'У данного брокера пока еще нет настроек'}}</pre>
          </td>
        </template>

        <template v-slot:item.createdAt="{ item: broker }">
          {{broker.createdAt && broker.createdAt.format('DD.MM.YY hh:mm') || '---'}}
        </template>

        <template v-slot:item.updatedAt="{ item: broker }">
          {{broker.updatedAt && broker.updatedAt.format('DD.MM.YY hh:mm') || '---'}}
        </template>

        <template v-slot:item.action="{ item: broker }">
          <v-icon small class="mr-2" @click="dialogOpenChangeBroker(broker)">mdi-pencil</v-icon>
          <v-icon small @click="deleteBroker(broker)">mdi-delete</v-icon>
        </template>

        <template v-slot:no-data>
          <v-btn @click="tableRefresh" color="blue" text>Обновить таблицу</v-btn>
        </template>

        <template v-slot:top>
          <v-dialog v-model="dialog.change.broker.self" max-width="530px" persistent>
            <template v-slot:activator="scope">
              <v-row>
                <v-col cols="6">
                  <p class="text-start">
                    <v-btn color="primary" dark class="mb-2 align-start" @click="tableRefresh" text>
                      <v-icon color="primary">mdi-refresh</v-icon>
                      Обновить таблицу
                    </v-btn>
                  </p>
                </v-col>
                <v-col cols="6">
                  <p class="text-end">
                    <v-btn color="primary" dark class="mb-2 align-end" @click="dialogOpenChangeBroker" text>
                      Добавить брокера
                      <v-icon color="primary">mdi-account-plus</v-icon>
                    </v-btn>
                  </p>
                </v-col>
              </v-row>
            </template>

            <v-card>
              <v-card-title>
                <span class="headline">{{ modalFormTitle }}</span>
              </v-card-title>

              <v-card-actions>
                <v-spacer />
                <v-btn color="red darken-1" text @click="dialogCloseChangeBroker">Отмена</v-btn>
                <v-btn
                    color="green darken-1"
                    @click="dialogSaveChangeBroker(broker.edited.self)"
                    :loading="isLoadingSaveBroker"
                    :disabled="isLoadingSaveBroker || !events.isChange.broker.self"
                    text
                >Сохранить
                </v-btn>
              </v-card-actions>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">

                      <v-row>
                        <v-col cols="12">
                          <v-text-field :value="broker.edited.self._id" disabled label="ID" />
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                              :disabled="isLoadingSaveBroker"
                              @input="checkBrokerOnChange"
                              label="Название брокера"
                              v-model="broker.edited.self._name"
                              hint="Допустимы только латинские буквы, цыфры, дефис и знак подчеркивания"
                          />
                        </v-col>
                      </v-row>

                      <!-- Updated at -->
                      <v-row>
                        <!-- DatePicker for broker.updatedAt-->
                        <v-col cols="6">
                          <v-dialog
                              max-width="290px"
                              min-width="290px"
                              persistent
                              ref="updatedAtDate"
                              :return-value.sync="broker.fields.updatedAt.dateHuman"
                              transition="scale-transition"
                              v-model="dialog.change.broker.updatedAt.date"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                  :disabled="isLoadingSaveBroker"
                                  hint="DD.MM.YYYY"
                                  label="Дата последнего обновления"
                                  v-on="on"
                                  :value="broker.fields.updatedAt.dateHuman"
                              />
                            </template>
                            <v-date-picker
                                color="blue"
                                locale="ru-ru"
                                no-title
                                v-model="broker.fields.updatedAt.date"
                            >
                              <v-spacer />
                              <v-btn @click="dialogCloseChangeBrokerUpdatedAtDate" color="red" text>Отмена</v-btn>
                              <v-btn
                                  @click="dialogSaveChangeBrokerUpdatedAtDate"
                                  color="green"
                                  :disabled="!events.isChange.broker.updatedAt.date"
                                  text
                              >Сохранить
                              </v-btn>
                            </v-date-picker>
                          </v-dialog>
                        </v-col>

                        <!-- TimePicker for broker.updatedAt -->
                        <v-col cols="6">
                          <v-dialog
                              max-width="290px"
                              min-width="290px"
                              persistent
                              ref="updatedAtTime"
                              :return-value.sync="broker.fields.updatedAt.timeHuman"
                              transition="scale-transition"
                              v-model="dialog.change.broker.updatedAt.time"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                  :disabled="isLoadingSaveBroker"
                                  hint="hh:mm:ss"
                                  label="Время последнего обновления"
                                  v-on="on"
                                  :value="broker.fields.updatedAt.timeHuman"
                              />
                            </template>

                            <v-time-picker
                                color="blue"
                                format="24hr"
                                header-color="blue"
                                use-seconds
                                v-model="broker.fields.updatedAt.time"
                            >
                              <v-spacer />
                              <v-btn
                                  @click="dialogCloseChangeBrokerUpdatedAtTime"
                                  color="red"
                                  text
                              >Отмена
                              </v-btn>

                              <v-btn
                                  @click="dialogSaveChangeBrokerUpdatedAtTime"
                                  color="green"
                                  :disabled="!events.isChange.broker.updatedAt.time"
                                  text
                              >Сохранить
                              </v-btn>
                            </v-time-picker>
                          </v-dialog>
                        </v-col>
                      </v-row>
                      <!-- END Updated at -->

                      <!-- Created at -->
                      <v-row>
                        <!-- DatePicker for broker.createdAt-->
                        <v-col cols="6">
                          <v-dialog
                              max-width="290px"
                              min-width="290px"
                              persistent
                              ref="createdAtDate"
                              :return-value.sync="broker.fields.createdAt.date"
                              transition="scale-transition"
                              v-model="dialog.change.broker.createdAt.date"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                  :disabled="isLoadingSaveBroker"
                                  hint="hh:mm:ss"
                                  label="Дата создания"
                                  v-on="on"
                                  :value="broker.fields.createdAt.dateHuman"
                              />
                            </template>
                            <v-date-picker
                                color="blue"
                                locale="ru-ru"
                                no-title
                                v-model="broker.fields.createdAt.date"
                            >
                              <v-spacer />
                              <v-btn @click="dialogCloseChangeBrokerCreatedAtDate" color="red" text>Отмена</v-btn>
                              <v-btn
                                  @click="dialogSaveChangeBrokerCreatedAtDate"
                                  color="green"
                                  :disabled="!events.isChange.broker.createdAt.date"
                                  text
                              >Сохранить
                              </v-btn>
                            </v-date-picker>
                          </v-dialog>
                        </v-col>

                        <!-- TimePicker for broker.createdAt -->
                        <v-col cols="6">
                          <v-dialog
                              max-width="290px"
                              min-width="290px"
                              persistent
                              ref="createdAtTime"
                              :return-value.sync="broker.fields.createdAt.time"
                              transition="scale-transition"
                              v-model="dialog.change.broker.createdAt.time"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                  :disabled="isLoadingSaveBroker"
                                  hint="hh:mm:ss"
                                  label="Время создания"
                                  v-on="on"
                                  :value="broker.fields.createdAt.timeHuman"
                              />
                            </template>
                            <v-time-picker
                                color="blue"
                                format="24hr"
                                header-color="blue"
                                use-seconds
                                v-model="broker.fields.createdAt.time"
                            >

                              <v-spacer />
                              <v-btn
                                  @click="dialogCloseChangeBrokerCreatedAtTime"
                                  color="red"
                                  text
                              >Отмена
                              </v-btn>

                              <v-btn
                                  @click="dialogSaveChangeBrokerCreatedAtTime"
                                  color="green"
                                  :disabled="!events.isChange.broker.createdAt.time"
                                  text
                              >Сохранить
                              </v-btn>
                            </v-time-picker>
                          </v-dialog>
                        </v-col>
                      </v-row>
                      <!-- END Created at -->

                      <v-row>
                        <v-col cols="12">
                          <v-textarea
                              auto-grow
                              @input="checkBrokerOnChange"
                              label="Настройки брокера"
                              hint="В формате JSON"
                              :disabled="isLoadingSaveBroker"
                              filled
                              :value="JSON.stringify(broker.edited.self._setting)"
                          />
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer />
                <v-btn color="red darken-1" text @click="dialogCloseChangeBroker">Отмена</v-btn>
                <v-btn
                    color="green darken-1"
                    text
                    :loading="isLoadingSaveBroker"
                    :disabled="isLoadingSaveBroker || !events.isChange.broker.self"
                    @click="dialogSaveChangeBroker(broker.edited.self)">
                  Сохранить
                </v-btn>
              </v-card-actions>

            </v-card>
          </v-dialog>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script src="./Broker.component.js"></script>

<style>
  .expand-column {
    overflow-x: scroll;
    max-width: 100px;
  }
</style>
