<template>
    <div class="Login" style="width: 50%">
        <v-card ref="form" @submit.prevent="login">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="text-center">Авторизация пользователя</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-form>
                <v-card-text>
                    <v-text-field label="Username" name="username" v-model="form.username" :rules="rules.username" required />
                    <br>
                    <v-text-field label="Пароль" name="password" v-model="form.password" :rules="rules.password" reqired />
                </v-card-text>
                <v-divider />
                <v-card-actions>
                    <v-spacer />
                    <v-btn @submit="login"
                           :disabled="!formIsValid"
                           :loading="this.isLoading"
                           type="submit"
                           color="green"
                           text
                    >Авторизоваться</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </div>
</template>

<script src="./Login.component.js"></script>

<style type="scss">
    input {
        border-radius: 4px;
        background: white;
        padding: 5px 10px;
    }
</style>
