<template>
  <div id="snackbars">
    <v-snackbar
        v-if="snackbar"
        :timeout="+snackbar._timeout"
        :color="snackbar._color"
        v-model="snackbarModel"
        multi-line
        top
        right
    >
      {{ snackbar.text }}
      <v-btn v-if="snackbar._closable" text @click="hideSnackbar">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>

<!-- FIXME: Допилить свой snackbar с поддержкой очередей -->
<!--    <v-snackbar-queue :timeout="3000">-->
<!--      <template slot="default" slot-scope="props">-->
<!--        <v-icon small :color="props.snackbar && props.snackbar.color">info</v-icon> {{props.snackbar && props.snackbar.message}}-->
<!--      </template>-->
<!--      <template slot="close">-->
<!--        <translate>close</translate>-->
<!--      </template>-->
<!--    </v-snackbar-queue>-->

  </div>
</template>

<script>
    'use strict';

    import {mapState} from 'vuex';

    export default {
        name: 'Snackbar',

        computed: {
            ...mapState({
                snackbar: ({snackbar: {snackbar}}) => snackbar,
            }),
        },

        watch: {
            snackbar(snackbar) {
                this.snackbarModel = !!snackbar;
            },
        },

        data: () => ({
            snackbarModel: false,
        }),

        methods: {
            hideSnackbar() {
                this.snackbarModel = false;
            },
        },
    };
</script>

<style scoped>

</style>
