<template>
    <Layout/>
</template>

<script>
    'use strict';

    import Layout from '@/components/content/Layout';

    export default {
      name: 'App',
      components: {Layout},
    };
</script>
